* {
    font-family: Arial, Helvetica, sans-serif;
}
.mynewClass {
    border: 3px solid;
    background-color: orange;
    font-size: 50px;
    font-weight: bold;
}
.img{
    width: 200px;
    height: 200px;
}
#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }